<div style="padding-left: 10px">
	<%= link_to '', todo_items_path, title: 'Back', rel: 'tooltip', class: "btn btn-primary fa fa-arrow-left " %>  &nbsp;
	<%= link_to '', @todo_item, title: 'Show', rel: 'tooltip', class: "btn btn-primary fa fa-search" %>

</div>
<h1 align="center" style="padding: 0 0 0 0">Edit Current Task</h1>

<%= render 'form' %>

