<div style="padding-left: 10px">
	<%= link_to '', todo_items_path, title: 'Back', rel: 'tooltip', class: "btn btn-primary fa fa-arrow-left " %>
</div>	

 <h1 align="center">Create New Task</h1>

<%= render 'form' %> 


